.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App .navbar-brand {
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.converter {
  width: 80%;
  margin: 0 auto;

  .converter-buttons {
    width: 30%;
    margin: 0 auto;
    display: block;
  }

  .headers {
    display: inline-block;
    float: left;
    width: 20%;
    height: 80vh;
    margin-top: 2.5vh;
  }

  .form-group {
    float: right;
    display: block;
    width: 75%;
    height: 20vh;
    margin-top: 2.5vh;
    margin-bottom: 10vh;
  }

  :after {
    content: "";
    display: table;
    clear: both;
  }

}

.textarea .form-control {
  resize: none;
  height: 50vh;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
