.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App .navbar-brand {
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.converter {
  width: 80%;
  margin: 0 auto;
  padding: 2vw;
  box-sizing: border-box;
  background-color: #F8F8F8;

  .converter-buttons {
    width: content;
    margin: 0 auto;
    display: block;
  }

  .headers {
    display: inline-block;
    width: 20%;
  }

  .subfields {
    display: inline-block;
    width: 80%;
    padding: 2vw;
    float: right;
  }

  .subfield-title {
    width: fit-content;
    display: inline-block;
  }

  .subfield-option {
    width: fit-content;
    display: inline-block;
    margin-left: 1vw;
  }

  .subfield-description {
    display: block;
    margin-top: .5vh;
    white-space: pre-wrap;
  }

  #input-textarea.form-group {
    display: block;
    margin: 0 auto;
    width: content;
  }

  :after {
    content: "";
    display: table;
    clear: both;
  }

}

.textarea .form-control {
  resize: none;
  height: 50vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
